<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6 col-lg-6 text-right group-link"> 
        <a class="username">{{username | uppercase}}</a>
        <span style="font-size: 1em; color: #fff; margin: 0px 3px;">|</span>
        <a (click)="logout()" class="top-link">Đăng xuất</a>
      </div>
    </div>
  </div>
</div>  
<div class="bottom-head">
  <div class="container">
    <nav class="row navbar navbar-expand-lg">
      <div class="col-md-12 col-lg-8 slogan-logo">
        <a href="">
          <img src="assets/images/CARENEFIT-slogan-03.png" alt="" class="logo">
        </a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
          </span>
        </button>
      </div>
      <div class="col-md-12 col-lg-4 text-right collapse navbar-collapse functions" id="navbarSupportedContent">
          <div>
              <a href="">
                <img src="assets/images/vi-VN.gif" class="item-functions" alt="" style="width:25px; height: 17px;">
              </a>
              <a href="">
                <img src="assets/images/en-US.gif" class="item-functions" alt="" style="width:25px; height: 17px;">
              </a>
              <a href="">
                <i class="fa fa-search"></i>
              </a>
          </div>
          <p class="hotline">
            Hotline: +84 0123 456
          </p>
      </div>
    </nav>
  </div>
</div>